
Xampp/apache/bin/iconv/mac-ce.so
Xampp/apache/bin/iconv/mac-croatian.so
Xampp/apache/bin/iconv/mac-cyrillic.so
Xampp/apache/bin/iconv/mac-dingbats.so
Xampp/apache/bin/iconv/mac-greek.so
Xampp/apache/bin/iconv/mac-iceland.so
Xampp/apache/bin/iconv/mac-japan.so
Xampp/apache/bin/iconv/mac-roman.so
Xampp/apache/bin/iconv/mac-romania.so
Xampp/apache/bin/iconv/mac-thai.so
Xampp/apache/bin/iconv/mac-turkish.so
Xampp/apache/bin/iconv/mac-ukraine.so
Xampp/apache/bin/iconv/macintosh.so
Xampp/apache/bin/iconv/osd_ebcdic_df04_1.so
Xampp/apache/bin/iconv/osd_ebcdic_df04_15.so
Xampp/apache/bin/iconv/shift_jis.so
Xampp/apache/bin/iconv/ucs2-internal.so
Xampp/apache/bin/iconv/ucs4-internal.so
Xampp/apache/bin/iconv/unicode-1-1-utf-7.so
Xampp/apache/bin/iconv/us-ascii.so
Xampp/apache/bin/iconv/utf-16.so
Xampp/apache/bin/iconv/utf-8.so
Xampp/apache/bin/iconv/windows-1250.so
Xampp/apache/bin/iconv/windows-1251.so
Xampp/apache/bin/iconv/windows-1252.so
Xampp/apache/bin/iconv/windows-1253.so
Xampp/apache/bin/iconv/windows-1254.so
Xampp/apache/bin/iconv/windows-1255.so
Xampp/apache/bin/iconv/windows-1256.so
Xampp/apache/bin/iconv/windows-1257.so
Xampp/apache/bin/iconv/windows-1258.so
Xampp/apache/bin/icudt63.dll
Xampp/apache/bin/icuin63.dll
Xampp/apache/bin/icuio63.dll
Xampp/apache/bin/icuuc63.dll
Xampp/apache/bin/jansson.dll
Xampp/apache/bin/libapr-1.dll
Xampp/apache/bin/libapriconv-1.dll
Xampp/apache/bin/libaprutil-1.dll
Xampp/apache/bin/libcrypto-1_1-x64.dll
Xampp/apache/bin/libcurl.dll
Xampp/apache/bin/libhttpd.dll
Xampp/apache/bin/libsasl.dll
Xampp/apache/bin/libssh2.dll
Xampp/apache/bin/libssl-1_1-x64.dll
Xampp/apache/bin/libxml2.dll
Xampp/apache/bin/logresolve.exe
Xampp/apache/bin/lua52.dll
Xampp/apache/bin/nghttp2.dll
Xampp/apache/bin/openssl.exe
Xampp/apache/bin/pcre.dll
Xampp/apache/bin/pv.exe
Xampp/apache/bin/rotatelogs.exe
Xampp/apache/bin/wintty.exe
Xampp/apache/bin/zlib1.dll
Xampp/apache/CHANGES.txt
Xampp/apache/conf/charset.conv
Xampp/apache/conf/extra/httpd-ajp.conf
Xampp/apache/conf/extra/httpd-autoindex.conf
Xampp/apache/conf/extra/httpd-dav.conf
Xampp/apache/conf/extra/httpd-default.conf
Xampp/apache/conf/extra/httpd-info.conf
